<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <title>Manticores!!</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <% manticores.forEach(function(manticore){ %>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <img class="card-img-top" src="<%= manticore.imgUrl %>" alt="Image of <%= manticore.name %>">
            <div class="card-body">
              <h5 class="card-title"><%= manticore.name %></h5>
              <p class="card-text"><%= manticore.description %></p>
              <a href="manticores/<%= manticore.key%>" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>